.form-wrapper{
text-align: center;
margin: 0;
margin-top:3rem;
display: block;
margin-left: 1rem;
margin-right:1rem;
}

form{
  opacity: 0;
}
.text-wrapper{
  width:80%;
  margin:1rem 0 0 0;
  display: inline-block;
  position: relative;
  left:2rem;
}

.label-wrapper{
  display: table-cell;
     vertical-align: middle;
}
